@model Nop.Web.Models.MiniVendors.TopMiniVendorModel
@{
    Html.AppendCssFileParts("~/css/sinswap/vendor_style.css");
}
@if (Model.MiniVendors.Count > 0)
{
    <div class="block block-vendor-navigation">
        <div class="title">
            <strong>Our Top Sellers</strong>
        </div>
        <div>
            @foreach (var vendor in Model.MiniVendors)
            {
                <div class="miniVendorContainer">
                    <a href="@Url.RouteUrl("Vendor", new { SeName = vendor.SeName })"><img src="@Url.Content(vendor.PictureUrl)" alt="Image" class="miniVendorImg" style="width:90%;" /></a>
                    <span class="miniVendorText">@vendor.Name</span>
                    <span class="miniVendorText">@vendor.City</span>
                </div>
            }
        </div>
    </div>
}