@using Nop.Web.Framework.Infrastructure
@model CustomerServiceModel

@{
    Layout = "_ColumnsOne";

    //page class
    Html.AppendPageCssClassParts("html-contact-page");
    Html.AppendPageCssClassParts("info-page");
}


<header class="infoDetail">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12 col-md-4 logoContainer">
                <h1>sinswap</h1>
                <a href="@Url.RouteUrl("HomePage")">
                    <img class="logo" title="Sinning is Winning" alt="Sinswap" src="/Themes/Sinswap/content/images/logoVendor.svg">
                </a>
            </div>

            @await Component.InvokeAsync("Header")

        </div>

        <div class="row justify-content-center">
            <div class="col-12 col-md-8">

                <div class="page-title">
                    <div class="subtitle">
                        <a href="#">About us</a>
                    </div>

                    <div class="title">Customer Service</div>

                </div>

            </div>
        </div>
    </div>
</header>


<div class="page info-page">

    <div class="page-body infoContainer">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-3 infoMenu">
    
                    <div class="infoSidebar">
                        <ul>
                            <li><a href="@Url.RouteUrl("TermsOfUse")">Terms of Use</a></li>
                            <li><a href="@Url.RouteUrl("PrivacyPolicy")">Privacy Policy</a></li>
                            <li><a href="#">Partner Terms</a></li>
                            <li><a href="#">Buyer Guarantee</a></li>
                            <li><a href="#">Seller Terms</a></li>
                            <li><a href="#">Contests</a></li>
                        </ul>
                    </div>

                </div>

                <div class="col-12 col-md-9 infoBody">
                    <!-- Start: Dummy article -->
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam auctor est et mi interdum, nec ultricies velit
                        viverra. Nulla ac nisi congue, fermentum turpis sit amet, sodales ante. Nulla nisl urna, pulvinar vitae
                        feugiat et, dignissim a nulla. Ut eleifend vehicula mauris id faucibus. Vestibulum lobortis aliquam sem,
                        sed viverra nisi hendrerit at. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
                        himenaeos. Maecenas feugiat vehicula arcu, quis tincidunt magna iaculis id. Donec auctor metus in facilisis
                        consequat. Donec sed mollis nunc, vitae eleifend odio.
                    </p>

                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam auctor est et mi interdum, nec ultricies velit
                        viverra. Nulla ac nisi congue, fermentum turpis sit amet, sodales ante. Nulla nisl urna, pulvinar vitae
                        feugiat et, dignissim a nulla. Ut eleifend vehicula mauris id faucibus. Vestibulum lobortis aliquam sem,
                        sed viverra nisi hendrerit at. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
                        himenaeos. Maecenas feugiat vehicula arcu, quis tincidunt magna iaculis id. Donec auctor metus in facilisis
                        consequat. Donec sed mollis nunc, vitae eleifend odio.
                    </p>

                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam auctor est et mi interdum, nec ultricies velit
                        viverra. Nulla ac nisi congue, fermentum turpis sit amet, sodales ante. Nulla nisl urna, pulvinar vitae
                        feugiat et, dignissim a nulla. Ut eleifend vehicula mauris id faucibus. Vestibulum lobortis aliquam sem,
                        sed viverra nisi hendrerit at. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
                        himenaeos. Maecenas feugiat vehicula arcu, quis tincidunt magna iaculis id. Donec auctor metus in facilisis
                        consequat. Donec sed mollis nunc, vitae eleifend odio.
                    </p>
                    <!-- End: Dummy article -->
                </div>
            </div>
        </div>
    </div>
</div>