@using Nop.Web.Framework.Infrastructure
@model FAQModel

@{
    Layout = "_ColumnsOne";

    //page class
    Html.AppendPageCssClassParts("html-contact-page");
}


@* start: Faq homepage*@
<header class="blogDetail faqHome">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12 col-md-4 logoContainer">
                <h1>sinswap</h1>
                <a href="@Url.RouteUrl("HomePage")">
                    <img class="logo" title="Sinning is Winning" alt="Sinswap" src="/Themes/Sinswap/content/images/logoVendor.svg">
                </a>
            </div>

            @await Component.InvokeAsync("Header")

        </div>

        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                @await Component.InvokeAsync("Widget", new { widgetZone = Nop.Web.Framework.Infrastructure.PublicWidgetZones.BlogPostPageTop, additionalData = Model })

                <div class="page-title">
                    <div class="tags">
                        <a href="#">Lost? We go you!</a>
                    </div>

                    <div class="title">We're here to help</div>

                    <div class="date">Quick fixes and official info on everything Sinswap, right here</div>
                </div>

            </div>
        </div>
    </div>
</header> 

<div class="container-fluid faqHomeContainer">
    <div class="row">
        <div class="col-12">
            <div class="container">
                <div class="row faqTabs">
                    <div class="col-12">
                        <h3>What do people ask us a lot?</h3>

@*                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                          <li class="nav-item">
                            <a class="nav-link active" id="general-tab" data-toggle="tab" href="#general" role="tab" aria-controls="general" aria-selected="true">In general</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">For buyers</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">For sellers</a>
                          </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                          <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab">General</div>
                          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">profile</div>
                          <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">contact</div>
                        </div>
*@
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" href="#tabGeneral" id="general-tab" data-toggle="tab" role="tab" aria-controls="tabGeneral" aria-selected="true">In general</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#tabSeller" id="seller-tab" data-toggle="tab" role="tab" aria-controls="tabSeller" aria-selected="false">For sellers</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#tabBuyer" id="buyer-tab" data-toggle="tab" role="tab" aria-controls="tabBuyer" aria-selected="false">For buyers</a>
                            </li>
                        </ul>

                        <div class="tab-content" id="faqTabContent">
                            <div class="tab-pane fade show active" id="tabGeneral" role="tabpanel" aria-labelledby="general-tab">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-12 col-md-6 col-lg-4">
                                            <div class="categoryButton">
                                                What is Sinswap?
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-4">
                                            <div class="categoryButton">
                                                Can I join when I am 18?
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-4">
                                            <div class="categoryButton">
                                                Do I have to show my face?
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-4">
                                            <div class="categoryButton">
                                                What's the meaning of life?
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-4">
                                            <div class="categoryButton">
                                                If roses are red and violets are blue, are you crazy too?
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-4">
                                            <div class="categoryButton">
                                                How do I contact sales dept.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tabSeller" role="tabpanel" aria-labelledby="seller-tab">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-12 col-md-6 col-lg-4">
                                            <div class="categoryButton">
                                                Seller question
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-4">
                                            <div class="categoryButton">
                                                Seller question
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-4">
                                            <div class="categoryButton">
                                                Seller question
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-4">
                                            <div class="categoryButton">
                                                Seller question
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-4">
                                            <div class="categoryButton">
                                                Seller question
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-4">
                                            <div class="categoryButton">
                                                Seller question
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="tab-pane fade" id="tabBuyer" role="tabpanel" aria-labelledby="buyer-tab">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-12 col-md-6 col-lg-4">
                                            <div class="categoryButton">
                                                Buyer question
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-4">
                                            <div class="categoryButton">
                                                Buyer question
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-4">
                                            <div class="categoryButton">
                                                Buyer question
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-4">
                                            <div class="categoryButton">
                                                Buyer question
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-4">
                                            <div class="categoryButton">
                                                Buyer question
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-4">
                                            <div class="categoryButton">
                                                Buyer question
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row faqCategories">
                    <div class="col-12">
                        <h3>These categories might also help you</h3>

                        <div class="container-fluid categoryCardContainer">
                            <div class="row">
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="faqCategoryCard general">
                                        <i class="fa fa-globe"></i><br />
                                        <a href="#" class="btn btn-black">General</a>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="faqCategoryCard general">
                                        <i class="fa fa-lock"></i><br />
                                        <a href="#" class="btn btn-black">Privacy</a>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="faqCategoryCard general">
                                        <i class="fa fa-users"></i><br />
                                        <a href="#" class="btn btn-black">Accounts</a>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="faqCategoryCard general">
                                        <i class="fa fa-wallet"></i><br />
                                        <a href="#" class="btn btn-black">Payments</a>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="faqCategoryCard seller">
                                        <i class="fa fa-cloud-upload-alt"></i><br />
                                        <a href="#" class="btn btn-black">Sellers</a>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="faqCategoryCard buyer">
                                        <i class="fa fa-cloud-download-alt"></i><br />
                                        <a href="#" class="btn btn-black">Buyers</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@* end: Faq homepage*@



@* start: Faq item page*@
<header class="blogDetail faqItemDetail">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12 col-md-4 logoContainer">
                <h1>sinswap</h1>
                <a href="@Url.RouteUrl("HomePage")">
                    <img class="logo" title="Sinning is Winning" alt="Sinswap" src="/Themes/Sinswap/content/images/logoVendor.svg">
                </a>
            </div>

            @await Component.InvokeAsync("Header")

        </div>

        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                @await Component.InvokeAsync("Widget", new { widgetZone = Nop.Web.Framework.Infrastructure.PublicWidgetZones.BlogPostPageTop, additionalData = Model })

                <div class="page-title">
                    <div class="tags">
                        <a href="#">Got questions?</a>
                    </div>

                    <div class="title">Find the answers here!</div>
                </div>

            </div>
        </div>
    </div>
</header>

<div class="page faq-page">
    <div class="page-body">
        @await Component.InvokeAsync("Faq")
    </div>
</div>

<div class="modal fade faqItemModal" id="faqItemModal" tabindex="-1" role="dialog" aria-labelledby="faqItemModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title w-100">
                    <h5 id="faqItemModalLabel">Report an account</h5>
                </div>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="text">
                    To report an account, go to their profile page, click on the three dots in the upper right-hand corner and select "Report (user)".<br />
                    <br />
                    To report an individual post, click on the three dots in the top right of the post and select "Report".
                </div>
            </div>

            <div class="modal-footer">
                <div class="relatedItems">
                    <div class="text">
                        <h5>Related articles</h5>
                        <ul>
                            <li><a href="#">I am unable to login to my account</a></li>
                            <li><a href="#">Deleting your account</a></li>
                            <li><a href="#">Who van use Sinswap?</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@* end: Faq item page*@