@model PasswordRecoveryModel
@using System.Net
@using Nop.Core
@inject IWebHelper webHelper

@{
    //title
    //Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
    //page class
    Html.AppendPageCssClassParts("html-password-recovery-page");

    //login URL with return URL (if specified)
    var loginUrl = Url.RouteUrl("Login", null, webHelper.CurrentRequestProtocol);
    if (!string.IsNullOrEmpty(this.Context.Request.Query["returnUrl"]))
    {
        loginUrl = webHelper.ModifyQueryString(loginUrl, "returnurl", this.Context.Request.Query["returnUrl"]);
    }

}

<div class="modal fade pwRecoveryModal" id="pwRecoveryModal" tabindex="-1" role="dialog" aria-labelledby="pwRecoveryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <div class="modal-title w-100">
                    <h5 id="pwRecoveryModalLabel">Reset password</h5>
                </div>

                @await Html.PartialAsync("_ExternalAuthentication.Errors")

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <form asp-route="PasswordRecovery" method="post">
                    <div asp-validation-summary="ModelOnly" class="message-error"></div>
                    <p class="tooltip">@T("Account.PasswordRecovery.Tooltip")</p>
                    <div class="fieldset">
                        <div class="form-fields">
                            <div class="text">
                                Please enter your email address and we'll send instructions on how to reset your password.
                            </div>

                            <div class="form-group">
                                @*<label asp-for="Email" asp-postfix=":"></label>*@
                                <input asp-for="Email" class="form-control email" placeholder="Enter your email" />
                                @*<nop-required />*@
                                <span asp-validation-for="Email"></span>
                            </div>
                        </div>
                    </div>

                    @if (!string.IsNullOrEmpty(Model.Result))
                    {
                        <div class="result">
                            @Model.Result
                        </div>
                    }

                    <div class="buttons">
                        <input type="submit" name="send-email" class="btn btn-action password-recovery-button" value="Submit" />
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <div class="new-wrapper register-block">
                    <div class="text">
                        <a href="@loginUrl" class="btn-text">Back to Sign in</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>