// Animations
@keyframes MoveBG {
    0% {
        background-position: 0% 84%;
    }

    50% {
        background-position: 100% 16%;
    }

    100% {
        background-position: 0% 84%;
    }
}

@-webkit-keyframes flash {
    0% {
        opacity: .4;
    }

    100% {
        opacity: 1;
    }
}

@keyframes flash {
    0% {
        opacity: .4;
    }

    100% {
        opacity: 1;
    }
}
