// Global
html,
body {
    font-family: $fontBody;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;

    > .col,
    > [class*="col-"] {
        padding-right: 0;
        padding-left: 0;
    }
}

.flex-row.row {
    display: flex;
    flex-wrap: wrap;
}

.flex-row.row > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.flex-row.row:after,
.flex-row.row:before {
    display: flex;
}

// Slick
.slick-prev,
.slick-next {
    color: $black;
    font-size: 24px;
    transition: color 0.15s;

    &:before {
        display: none;
    }

    &:hover {
        color: $grey22;
        transition: color 0.15s;
    }
}

// Links
a.more {
    display: block;
    float: left;
    margin: 20px 0;
    font-size: 12px;
    color: $grey31;
    text-decoration: underline;
    transition: color 0.15s;

    &:hover {
        text-decoration: none;
        color: $seller;
        transition: color 0.15s;
    }
}