// Colors
$white: #fff;
$black: #171717;

$grey1: #fafafa;
$grey2: #f5f5f5;
$grey3: #ededed;
$grey4: #f5f5f5;
$grey5: #dedede;
$grey6: #d9d9d9;
$grey7: #d4d4d4;
$grey8: #cccccc;
$grey9: #c4c4c4;
$grey10: #bdbdbd;
$grey11: #b5b5b5;
$grey12: #b0b0b0;
$grey13: #a8a8a8;
$grey14: #9e9e9e;
$grey15: #999999;
$grey16: #919191;
$grey17: #8a8a8a;
$grey18: #828282;
$grey19: #7d7d7d;
$grey20: #757575;
$grey21: #6b6b6b;
$grey22: #666666;
$grey23: #5e5e5e;
$grey24: #575757;
$grey25: #4f4f4f;
$grey26: #4a4a4a;
$grey27: #424242;
$grey28: #383838;
$grey29: #333333;
$grey30: #2b2b2b;
$grey31: #242424;
$grey32: #1c1c1c;
$grey33: #171717;
$grey34: #0f0f0f;
$grey35: #050505;

$seller: #2d7de4;
$buyer: #fd6721;
$products: #00e39a;
$news: #e4007c;

$catClothing: #53e3c5;
$catFood: #46c7ac;
$catMedia: #36ae94;
$catServices: #3eb5b0;
$catBody: #4fe9a7;
$catObjects: #4adfd0;

// Typography
$fontBody: "Montserrat", sans-serif;