<header>
    <div class="container-fluid">

        <div class="row">
            <div class="col-4">
                <h1>sinswap</h1>
                @await Component.InvokeAsync("Logo")
            </div>

            <div class="col-4">
                <nav class="main d-flex flex-wrap justify-content-center">
                    <a href="#" class="menuLink">Clothing</a>
                    <a href="#" class="menuLink">Food</a>
                    <a href="#" class="menuLink">Media</a>
                    <a href="#" class="menuLink">Services</a>
                    <a href="#" class="menuLink">Body</a>
                    <a href="#" class="menuLink">Objects</a>
                </nav>
            </div>

            <div class="col-4">
                <nav class="service">
                    <a href="#" class="btn btn-primary">Start selling</a>
                    <a href="#" class="btn btn-primary">Signup</a>
                    <a href="#" class="btn btn-primary">Login</a>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-12 payoffContainer">
                <div class="payoff">Sinning is Winning</div>
            </div>
        </div>

    </div>
</header>

@*@await Component.InvokeAsync("TaxTypeSelector")
@await Component.InvokeAsync("CurrencySelector")
@await Component.InvokeAsync("LanguageSelector")
@await Component.InvokeAsync("HeaderLinks")
@await Component.InvokeAsync("FlyoutShoppingCart")
@await Component.InvokeAsync("SearchBox")*@