<header>
    <div class="container-fluid">

        <div class="row">
            <div class="col-12 col-md-4 logoContainer">
                <h1>sinswap</h1>
                <a href="@Url.RouteUrl("HomePage")">
                    <img class="logo" title="Sinning is Winning" alt="Sinswap" src="/Themes/Sinswap/content/images/logoVendor.svg">
                </a>
            </div>

            @await Component.InvokeAsync("Header")

        </div>

        <div class="row">
            <div class="col-12 payoffContainer" data-stellar-background-ratio="0.5">
            </div>
        </div>

        @*        <div class="row">
            <div class="col-12 searchContainer">
            <div class="searchTitle">Find what you're looking for...</div>
            @await Component.InvokeAsync("SearchBox")
            </div>
            </div>*@

    </div>
</header>