<header>
    <div class="container-fluid">

        <div class="row">
            <div class="col-12 col-md-4 logoContainer">
                <h1>sinswap</h1>
                <a href="@Url.RouteUrl("HomePage")">
                    <img class="logo" title="Sinning is Winning" alt="Sinswap" src="/Themes/Sinswap/content/images/logoHome.svg">
                </a>
            </div>

            <div class="col-12 col-md-4">
                <nav class="main">
                    <a href="/en/clothing" class="menuLink">Clothing</a>
                    <a href="/en/food" class="menuLink">Food</a>
                    <a href="/en/media" class="menuLink">Media</a>
                    <a href="/en/services" class="menuLink">Services</a>
                    <a href="/en/body" class="menuLink">Body</a>
                    <a href="/en/objects" class="menuLink">Objects</a>
                </nav>
            </div>

            <div class="col-12 col-md-4 serviceMenu">
                <nav class="service">
                    @if (this.User.Identity.IsAuthenticated)
                    {
                        @await Component.InvokeAsync("FlyoutShoppingCart")
                    }
                    else
                    {
                        @await Component.InvokeAsync("FlyoutShoppingCart")
                        <a href="@Url.RouteUrl("Login")" class="btn btn-primary">Log in</a>
                        <a href="@Url.RouteUrl("Register")" class="btn btn-primary mr-4">Join</a>
                        <a href="#" class="btn btn-primary d-none d-md-block">Start selling</a>
                    }
                    <a href="#" class="btn search icon"><i class="fa fa-search" aria-hidden="true"></i></a>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-12 payoffContainer" data-stellar-background-ratio="0.5">
            </div>
        </div>

@*        <div class="row">
            <div class="col-12 searchContainer">
                <div class="searchTitle">Find what you're looking for...</div>
                @await Component.InvokeAsync("SearchBox")
            </div>
        </div>
*@
    </div>
</header>

@*@await Component.InvokeAsync("TaxTypeSelector")
@await Component.InvokeAsync("CurrencySelector")
@await Component.InvokeAsync("LanguageSelector")
@await Component.InvokeAsync("HeaderLinks")
@await Component.InvokeAsync("FlyoutShoppingCart")
@await Component.InvokeAsync("SearchBox")*@