<header class="headerHome">
    <div class="container-fluid">

        <div class="row">
            <div class="floatingObj1 d-none d-md-block" data-stellar-ratio="0.4">
                <img src="/Themes/Sinswap/content/images/dummyPopularCategories.png" />
            </div>

            <div class="floatingObj2 d-none d-md-block" data-stellar-ratio="0.6">
                <img src="/Themes/Sinswap/content/images/dummyPopularCategories.png" />
            </div>

            <div class="col-12 col-md-4 logoContainer">
                <h1>sinswap</h1>
                @await Component.InvokeAsync("Logo")
            </div>

            <div class="col-12 col-md-4">
                <nav class="main">
                    <a href="/en/clothing" class="menuLink">Clothing</a>
                    <a href="/en/food" class="menuLink">Food</a>
                    <a href="#" class="menuLink">Media</a>
                    <a href="#" class="menuLink">Services</a>
                    <a href="#" class="menuLink">Body</a>
                    <a href="#" class="menuLink">Objects</a>
                </nav>
            </div>

            <div class="col-12 col-md-4 serviceMenu">
                <nav class="service">
                    <a href="#" class="btn btn-primary d-none d-md-block">Start selling</a>
                    <a href="@Url.RouteUrl("Register")" class="btn btn-primary">Signup</a>
                    <a href="@Url.RouteUrl("Login")" class="btn btn-primary">Login</a>
                    <a href="#" class="btn search"><i class="fa fa-search" aria-hidden="true"></i></a>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-12 payoffContainer" data-stellar-background-ratio="0.5">
                <div class="payoff">We are all born sinners.</div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 searchContainer">
                <div class="searchTitle">Find what you're looking for...</div>
                <form id="searchForm">
                    <div class="form-group">
                        <input type="text" class="form-control" id="searchInput" placeholder="What are you looking for (e.g. sellers or products)">
                        <a href="#" class="searchSubmit"><i class="fa fa-search" aria-hidden="true"></i></a>
                    </div>
                </form>
            </div>
        </div>

    </div>
</header>

@*@await Component.InvokeAsync("TaxTypeSelector")
    @await Component.InvokeAsync("CurrencySelector")
    @await Component.InvokeAsync("LanguageSelector")
    @await Component.InvokeAsync("HeaderLinks")
    @await Component.InvokeAsync("FlyoutShoppingCart")
    @await Component.InvokeAsync("SearchBox")*@