@model Nop.Web.Models.NotFound.VendorCategoryNotFoundModel
<div class="container firstContainer topSellersContainer">
    <div class="row">
        <div class="col-12">
            <div class="no-data">
                Oh no!<br />
                It seems nobody is selling @Model.Category yet.<br />
                <span>We'll let our sellers know you're interested, check back soon!</span>
            </div>
        </div>
    </div>
</div>

@await Component.InvokeAsync("TopVendor")
