@model Nop.Web.Models.NotFound.VendorCategoryNotFoundModel
<div class="container firstContainer topSellersContainer">
    <div class="row">
        <div class="col-12">
            <div class="no-data">
                <i class="fas fa-sad-tear"></i><br />
                What?! How come nobody is selling @Model.Category yet?<br />
                We'll let our sellers know you're interested, check back soon!
            </div>
        </div>
    </div>
</div>