@{
    Layout = "_ColumnsOne";

    //page class
    Html.AppendPageCssClassParts("homepage");
}

<div class="container topSellersContainer">
    <div class="row">
        <div class="col-12">
            <h2>Top sellers!</h2>

            <div class="topSellersSlide">
                <div class="topSellerCard">
                    <img src="/Themes/Sinswap/content/images/dummyTopSeller.jpg" />
                    <div class="location">
                        <span class="city">Sydney</span>, <span class="country">Australia</span>
                    </div>
                    <div class="nameAge">
                        <a href="#"><span class="name">Pixie Dust</span>, <span class="age">22</span></a>
                    </div>
                </div>
                <div class="topSellerCard">
                    <img src="/Themes/Sinswap/content/images/dummyTopSeller.jpg" />
                    <div class="location">
                        <span class="city">Sydney</span>, <span class="country">Australia</span>
                    </div>
                    <div class="nameAge">
                        <a href="#"><span class="name">Pixie Dust</span>, <span class="age">22</span></a>
                    </div>
                </div>
                <div class="topSellerCard">
                    <img src="/Themes/Sinswap/content/images/dummyTopSeller.jpg" />
                    <div class="location">
                        <span class="city">Sydney</span>, <span class="country">Australia</span>
                    </div>
                    <div class="nameAge">
                        <a href="#"><span class="name">Pixie Dust</span>, <span class="age">22</span></a>
                    </div>
                </div>
                <div class="topSellerCard">
                    <img src="/Themes/Sinswap/content/images/dummyTopSeller.jpg" />
                    <div class="location">
                        <span class="city">Sydney</span>, <span class="country">Australia</span>
                    </div>
                    <div class="nameAge">
                        <a href="#"><span class="name">Pixie Dust</span>, <span class="age">22</span></a>
                    </div>
                </div>
                <div class="topSellerCard">
                    <img src="/Themes/Sinswap/content/images/dummyTopSeller.jpg" />
                    <div class="location">
                        <span class="city">Sydney</span>, <span class="country">Australia</span>
                    </div>
                    <div class="nameAge">
                        <a href="#"><span class="name">Pixie Dust</span>, <span class="age">22</span></a>
                    </div>
                </div>
                <div class="topSellerCard">
                    <img src="/Themes/Sinswap/content/images/dummyTopSeller.jpg" />
                    <div class="location">
                        <span class="city">Sydney</span>, <span class="country">Australia</span>
                    </div>
                    <div class="nameAge">
                        <a href="#"><span class="name">Pixie Dust</span>, <span class="age">22</span></a>
                    </div>
                </div>
                <div class="topSellerCard">
                    <img src="/Themes/Sinswap/content/images/dummyTopSeller.jpg" />
                    <div class="location">
                        <span class="city">Sydney</span>, <span class="country">Australia</span>
                    </div>
                    <div class="nameAge">
                        <a href="#"><span class="name">Pixie Dust</span>, <span class="age">22</span></a>
                    </div>
                </div>
                <div class="topSellerCard">
                    <img src="/Themes/Sinswap/content/images/dummyTopSeller.jpg" />
                    <div class="location">
                        <span class="city">Sydney</span>, <span class="country">Australia</span>
                    </div>
                    <div class="nameAge">
                        <a href="#"><span class="name">Pixie Dust</span>, <span class="age">22</span></a>
                    </div>
                </div>
                <div class="topSellerCard">
                    <img src="/Themes/Sinswap/content/images/dummyTopSeller.jpg" />
                    <div class="location">
                        <span class="city">Sydney</span>, <span class="country">Australia</span>
                    </div>
                    <div class="nameAge">
                        <a href="#"><span class="name">Pixie Dust</span>, <span class="age">22</span></a>
                    </div>
                </div>
                <div class="topSellerCard">
                    <img src="/Themes/Sinswap/content/images/dummyTopSeller.jpg" />
                    <div class="location">
                        <span class="city">Sydney</span>, <span class="country">Australia</span>
                    </div>
                    <div class="nameAge">
                        <a href="#"><span class="name">Pixie Dust</span>, <span class="age">22</span></a>
                    </div>
                </div>
                <div class="topSellerCard">
                    <img src="/Themes/Sinswap/content/images/dummyTopSeller.jpg" />
                    <div class="location">
                        <span class="city">Sydney</span>, <span class="country">Australia</span>
                    </div>
                    <div class="nameAge">
                        <a href="#"><span class="name">Pixie Dust</span>, <span class="age">22</span></a>
                    </div>
                </div>
                <div class="topSellerCard">
                    <img src="/Themes/Sinswap/content/images/dummyTopSeller.jpg" />
                    <div class="location">
                        <span class="city">Sydney</span>, <span class="country">Australia</span>
                    </div>
                    <div class="nameAge">
                        <a href="#"><span class="name">Pixie Dust</span>, <span class="age">22</span></a>
                    </div>
                </div>
                <div class="topSellerCard">
                    <img src="/Themes/Sinswap/content/images/dummyTopSeller.jpg" />
                    <div class="location">
                        <span class="city">Sydney</span>, <span class="country">Australia</span>
                    </div>
                    <div class="nameAge">
                        <a href="#"><span class="name">Pixie Dust</span>, <span class="age">22</span></a>
                    </div>
                </div>
                <div class="topSellerCard">
                    <img src="/Themes/Sinswap/content/images/dummyTopSeller.jpg" />
                    <div class="location">
                        <span class="city">Sydney</span>, <span class="country">Australia</span>
                    </div>
                    <div class="nameAge">
                        <a href="#"><span class="name">Pixie Dust</span>, <span class="age">22</span></a>
                    </div>
                </div>
                <div class="topSellerCard">
                    <img src="/Themes/Sinswap/content/images/dummyTopSeller.jpg" />
                    <div class="location">
                        <span class="city">Sydney</span>, <span class="country">Australia</span>
                    </div>
                    <div class="nameAge">
                        <a href="#"><span class="name">Pixie Dust</span>, <span class="age">22</span></a>
                    </div>
                </div>
            </div>

            <a href="#" class="more">Check out our best sellers...</a>

        </div>
    </div>
</div>