@{
    Layout = "_ColumnsOne";

    //page class
    Html.AppendPageCssClassParts("homepage");
}

@await Component.InvokeAsync("TopVendor")

<div class="container-fluid newsContainer">
    <div class="row">
        <div class="col">
            <div class="container">

                <h2 class="sr-only">News</h2>

                <div class="flex-row row no-gutters">
                    <div class="col-12 col-lg-6">
                        <div class="newsCard news noImg">
                            <p>
                                <a href="#">
                                    How to use your camera phone
                                    to take photos of your panties
                                </a>
                            </p>

                            <div class="category">
                                Tips &amp; Tricks
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="newsCard seller noImg">
                            <p>
                                <a href="#">
                                    Getting personal with
                                    Garcia Vegas
                                </a>
                            </p>

                            <div class="category">
                                a Dirty Talk interview
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex-row row no-gutters">
                    <div class="col-6 col-lg-3">
                        <div class="newsCard news">
                            <img src="/Themes/Sinswap/content/images/asa.jpeg" />

                            <p>
                                <a href="#">
                                    Wow! 5 orders of
                                    Asa Akira’s €5k
                                    pussy juice already!
                                </a>
                            </p>

                            <div class="category">
                                News
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3">
                        <div class="newsCard news">
                            <img src="/Themes/Sinswap/content/images/dobrik.jpeg" />

                            <p>
                                <a href="#">
                                    Youtube-star
                                    David Dobrik has
                                    a <strong>sinswap</strong>-store!
                                </a>
                            </p>

                            <div class="category">
                                News
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3 d-none d-lg-flex">
                        <div class="newsCard news">
                            <img src="/Themes/Sinswap/content/images/lollipop.jpeg" />

                            <p>
                                <a href="#">
                                    The Lolli game
                                    How does it work?
                                </a>
                            </p>

                            <div class="category">
                                Games
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3 d-none d-lg-flex">
                        <div class="newsCard news">
                            <img src="/Themes/Sinswap/content/images/annoniem.jpeg" />

                            <p>
                                <a href="#">
                                    Want to stay anonymous?
                                    Here's how
                                </a>
                            </p>

                            <div class="category">
                                Tips &amp; Tricks
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="container-fluid featuredContainer">
    <div class="row">
        <div class="col">
            <div class="container">

                <h2>This week’s <strong>sinswap</strong> featurette</h2>

                <div class="flex-row row no-gutters">

                    <div class="col-12 col-lg-6">
                        <div class="featuredCard" style="background-image: url('/Themes/Sinswap/content/images/Feature_1.jpeg')">
                            <div class="content">
                                <blockquote>
                                    “I love that men and women tell me
                                    what they want. So what can I do for you?”
                                </blockquote>
                                <div class="location">
                                    <span class="city">Sydney</span>, <span class="country">Australia</span>
                                </div>
                                <div class="nameAge">
                                    <a href="#"><span class="name">Pixie Dust</span>, <span class="age">22</span></a>
                                </div>
                                <a href="#" class="btn btn-light">Checkout my <strong>sinswap</strong>-shop</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-lg-3">
                        <div class="featuredCard" style="background-image: url('/Themes/Sinswap/content/images/Feature_2.jpeg')">
                            <div class="content">
                                <div class="label">Known for:</div>
                                <div class="title"><a href="#">Naked dancing</a></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-lg-3">
                        <div class="featuredCard" style="background-image: url('/Themes/Sinswap/content/images/Feature_3.jpeg')">
                            <div class="content">
                                <div class="label">Katee’s best seller:</div>
                                <div class="title"><a href="#">Lollipop guess</a></div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

@await Component.InvokeAsync("HomepageCategories", new { showMostPopular = true })


@await Component.InvokeAsync("MostPopularVendor")

<div class="container-fluid promoContainer">
    <div class="row">
        <div class="col">
            <div class="container">

                <h2>
                    We and our users don’t judge anybody!<br />
                    Be yourself and joining <strong>sinswap</strong> for free!
                </h2>

                <div class="flex-row row no-gutters">

                    <div class="col-12 col-lg-6">
                        <div class="promoCard seller">
                            <div class="content">
                                <h3>Sell as a Free or Premium member</h3>
                                <p>
                                    Get a lot of extra features when you go Premium
                                </p>
                                <a href="#" class="btn btn-light">Start your own <strong>sinswap</strong>-shop now!</a>
                                <div class="footnote">We DO NOT ask any percentage of what you sell</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-6">
                        <div class="promoCard buyer">
                            <div class="content">
                                <h3>Used panties? New panties?</h3>
                                <p>
                                    Imagine it... and you can buy it...
                                    right here... and all on demand!
                                </p>
                                <a href="#" class="btn btn-light">Join <strong>sinswap</strong> now!</a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

@*<div class="container trendingCategoriesContainer">
    <div class="row">
        <div class="col-12">
            <h2>Trending categories</h2>

            <div class="flex-row row no-gutters">

                <div class="col-6 col-sm-4">
                    <div class="categoryCard food" style="background-image: url('/Themes/Sinswap/content/images/dummyPopularCategories.png')">
                        <div class="category"><a href="#">Lollipops</a></div>
                    </div>
                </div>

                <div class="col-6 col-sm-4">
                    <div class="categoryCard object" style="background-image: url('/Themes/Sinswap/content/images/dummyPopularCategories.png')">
                        <div class="category"><a href="#">Polaroids</a></div>
                    </div>
                </div>

                <div class="col-6 col-sm-4 d-none d-sm-block">
                    <div class="categoryCard food" style="background-image: url('/Themes/Sinswap/content/images/dummyPopularCategories.png')">
                        <div class="category"><a href="#">Corn on the cob</a></div>
                    </div>
                </div>

            </div>

            <a href="#" class="more">Check out our 500+ categories...</a>

        </div>
    </div>
</div>*@

@await Component.InvokeAsync("HomepageTrendyCategories", new { amount = 3 })

<div class="container aboutUsContainer">
    <div class="row">
        <div class="col">
            <div class="container">

                <h2>
                    About <strong>sinswap</strong>
                </h2>

                <div class="row">

                    <div class="col-12">
                        <div class="content">
                            <h3>Subtitle 1</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor nibh enim, non congue dui pellentesque non. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas ac urna nibh. Praesent placerat nisl iaculis risus vehicula fermentum. Suspendisse potenti. Vivamus arcu mi, semper vel dapibus eu, bibendum in ligula. Morbi dapibus tellus in lacus pellentesque, sed dictum tortor rutrum. Praesent rhoncus placerat placerat. Donec ac augue dui. Sed pharetra purus a condimentum pellentesque.
                            </p>

                            <h3>Subtitle 2</h3>
                            <p>
                                Etiam id mollis ex. Nulla pulvinar mi ex, id euismod est consequat viverra. Nulla sollicitudin ullamcorper vulputate. Vestibulum sagittis egestas metus, sit amet pulvinar mi imperdiet non. Cras non tortor sapien. Donec pharetra tortor eget convallis condimentum. Suspendisse dictum sit amet velit vitae consectetur. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                            </p>

                            <h3>Subtitle 3</h3>
                            <p>
                                Curabitur semper, diam et efficitur porttitor, augue velit porttitor enim, nec mollis nibh dolor eget nulla. Suspendisse consequat nulla a arcu sagittis, suscipit consectetur lectus eleifend. Donec rutrum mi sed laoreet euismod. In hac habitasse platea dictumst. Nullam leo felis, finibus at scelerisque a, tincidunt id sem. Maecenas at feugiat eros, faucibus fermentum sapien. Aliquam nulla lorem, semper quis ex sit amet, vulputate iaculis ex. Cras et blandit odio. Nam malesuada velit justo, at pellentesque ex condimentum a. Praesent ornare a lectus ut pulvinar. Proin placerat sed elit vel efficitur. Pellentesque sed turpis at nulla convallis lobortis. Quisque vitae tempus dui. Proin condimentum nibh dictum, fermentum lorem a, pretium neque.
                            </p>

                            <a href="#" class="btn btn-light">Read more about <strong>us</strong></a>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>