@{
    Layout = "_ColumnsOne";

    //page class
    Html.AppendPageCssClassParts("homepage");
}

<div class="container topSellersContainer">
    <div class="row">
        <div class="col-12">
            <h2>Top sellers!</h2>

            <div class="topSellersSlide">
                <div class="topSellerCard">
                    <img src="/Themes/Sinswap/content/images/dummyTopSeller.jpg" />
                    <div class="location">
                        <span class="city">Sydney</span>, <span class="country">Australia</span>
                    </div>
                    <div class="nameAge">
                        <a href="#"><span class="name">Pixie Dust</span>, <span class="age">22</span></a>
                    </div>
                </div>
                <div class="topSellerCard">
                    <img src="/Themes/Sinswap/content/images/dummyTopSeller.jpg" />
                    <div class="location">
                        <span class="city">Sydney</span>, <span class="country">Australia</span>
                    </div>
                    <div class="nameAge">
                        <a href="#"><span class="name">Pixie Dust</span>, <span class="age">22</span></a>
                    </div>
                </div>
                <div class="topSellerCard">
                    <img src="/Themes/Sinswap/content/images/dummyTopSeller.jpg" />
                    <div class="location">
                        <span class="city">Sydney</span>, <span class="country">Australia</span>
                    </div>
                    <div class="nameAge">
                        <a href="#"><span class="name">Pixie Dust</span>, <span class="age">22</span></a>
                    </div>
                </div>
                <div class="topSellerCard">
                    <img src="/Themes/Sinswap/content/images/dummyTopSeller.jpg" />
                    <div class="location">
                        <span class="city">Sydney</span>, <span class="country">Australia</span>
                    </div>
                    <div class="nameAge">
                        <a href="#"><span class="name">Pixie Dust</span>, <span class="age">22</span></a>
                    </div>
                </div>
                <div class="topSellerCard">
                    <img src="/Themes/Sinswap/content/images/dummyTopSeller.jpg" />
                    <div class="location">
                        <span class="city">Sydney</span>, <span class="country">Australia</span>
                    </div>
                    <div class="nameAge">
                        <a href="#"><span class="name">Pixie Dust</span>, <span class="age">22</span></a>
                    </div>
                </div>
                <div class="topSellerCard">
                    <img src="/Themes/Sinswap/content/images/dummyTopSeller.jpg" />
                    <div class="location">
                        <span class="city">Sydney</span>, <span class="country">Australia</span>
                    </div>
                    <div class="nameAge">
                        <a href="#"><span class="name">Pixie Dust</span>, <span class="age">22</span></a>
                    </div>
                </div>
                <div class="topSellerCard">
                    <img src="/Themes/Sinswap/content/images/dummyTopSeller.jpg" />
                    <div class="location">
                        <span class="city">Sydney</span>, <span class="country">Australia</span>
                    </div>
                    <div class="nameAge">
                        <a href="#"><span class="name">Pixie Dust</span>, <span class="age">22</span></a>
                    </div>
                </div>
                <div class="topSellerCard">
                    <img src="/Themes/Sinswap/content/images/dummyTopSeller.jpg" />
                    <div class="location">
                        <span class="city">Sydney</span>, <span class="country">Australia</span>
                    </div>
                    <div class="nameAge">
                        <a href="#"><span class="name">Pixie Dust</span>, <span class="age">22</span></a>
                    </div>
                </div>
                <div class="topSellerCard">
                    <img src="/Themes/Sinswap/content/images/dummyTopSeller.jpg" />
                    <div class="location">
                        <span class="city">Sydney</span>, <span class="country">Australia</span>
                    </div>
                    <div class="nameAge">
                        <a href="#"><span class="name">Pixie Dust</span>, <span class="age">22</span></a>
                    </div>
                </div>
                <div class="topSellerCard">
                    <img src="/Themes/Sinswap/content/images/dummyTopSeller.jpg" />
                    <div class="location">
                        <span class="city">Sydney</span>, <span class="country">Australia</span>
                    </div>
                    <div class="nameAge">
                        <a href="#"><span class="name">Pixie Dust</span>, <span class="age">22</span></a>
                    </div>
                </div>
                <div class="topSellerCard">
                    <img src="/Themes/Sinswap/content/images/dummyTopSeller.jpg" />
                    <div class="location">
                        <span class="city">Sydney</span>, <span class="country">Australia</span>
                    </div>
                    <div class="nameAge">
                        <a href="#"><span class="name">Pixie Dust</span>, <span class="age">22</span></a>
                    </div>
                </div>
                <div class="topSellerCard">
                    <img src="/Themes/Sinswap/content/images/dummyTopSeller.jpg" />
                    <div class="location">
                        <span class="city">Sydney</span>, <span class="country">Australia</span>
                    </div>
                    <div class="nameAge">
                        <a href="#"><span class="name">Pixie Dust</span>, <span class="age">22</span></a>
                    </div>
                </div>
                <div class="topSellerCard">
                    <img src="/Themes/Sinswap/content/images/dummyTopSeller.jpg" />
                    <div class="location">
                        <span class="city">Sydney</span>, <span class="country">Australia</span>
                    </div>
                    <div class="nameAge">
                        <a href="#"><span class="name">Pixie Dust</span>, <span class="age">22</span></a>
                    </div>
                </div>
                <div class="topSellerCard">
                    <img src="/Themes/Sinswap/content/images/dummyTopSeller.jpg" />
                    <div class="location">
                        <span class="city">Sydney</span>, <span class="country">Australia</span>
                    </div>
                    <div class="nameAge">
                        <a href="#"><span class="name">Pixie Dust</span>, <span class="age">22</span></a>
                    </div>
                </div>
                <div class="topSellerCard">
                    <img src="/Themes/Sinswap/content/images/dummyTopSeller.jpg" />
                    <div class="location">
                        <span class="city">Sydney</span>, <span class="country">Australia</span>
                    </div>
                    <div class="nameAge">
                        <a href="#"><span class="name">Pixie Dust</span>, <span class="age">22</span></a>
                    </div>
                </div>
            </div>

            <a href="#" class="more">Check out our best sellers...</a>

        </div>
    </div>
</div>

<div class="container-fluid newsContainer">
    <div class="row">
        <div class="col">
            <div class="container">

                <div class="flex-row row no-gutters">
                    <div class="col-12 col-lg-6">
                        <div class="newsCard news noImg">
                            <p>
                                How to use your camera phone
                                to take photos of your panties
                            </p>

                            <div class="category">
                                Tips &amp; Tricks
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="newsCard seller noImg">
                            <p>
                                Getting personal with
                                Garcia Vegas
                            </p>

                            <div class="category">
                                a Dirty Talk interview
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex-row row no-gutters">
                    <div class="col-6 col-lg-3">
                        <div class="newsCard news">
                            <img src="/Themes/Sinswap/content/images/dummyNews.jpg" />

                            <p>
                                Wow! 5 orders of
                                Asa Akira’s €5k
                                pussy juice already!
                            </p>

                            <div class="category">
                                News
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3">
                        <div class="newsCard news">
                            <img src="/Themes/Sinswap/content/images/dummyNews.jpg" />

                            <p>
                                Youtube-star
                                David Dobrik has
                                a Sinswap-store!
                            </p>

                            <div class="category">
                                News
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3">
                        <div class="newsCard news">
                            <img src="/Themes/Sinswap/content/images/dummyNews.jpg" />

                            <p>
                                The Lolli game
                                How does it work?
                            </p>

                            <div class="category">
                                Games
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3">
                        <div class="newsCard news">
                            <img src="/Themes/Sinswap/content/images/dummyNews.jpg" />

                            <p>
                                Want to stay anonymous?
                                Here's how
                            </p>

                            <div class="category">
                                Tips &amp; Tricks
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>