@model PasswordRecoveryConfirmModel
@using System.Net
@using Nop.Core
@inject IWebHelper webHelper

@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
    //page class
    Html.AppendPageCssClassParts("html-password-recovery-page");

    //login URL with return URL (if specified)
    var loginUrl = Url.RouteUrl("Login", null, webHelper.CurrentRequestProtocol);
    if (!string.IsNullOrEmpty(this.Context.Request.Query["returnUrl"]))
    {
        loginUrl = webHelper.ModifyQueryString(loginUrl, "returnurl", this.Context.Request.Query["returnUrl"]);
    }
}

@*<button type="button" class="btn btn-primary m-5" data-toggle="modal" data-target="#pwChangeModal">
    Launch Change Password modal
</button>*@

@if (Model.IsError)
{
    var errors = "";
    foreach (var modelStateKey in ViewData.ModelState.Keys)
    {
        var value = ViewData.ModelState[modelStateKey];
        foreach (var error in value.Errors)
        {
            errors = error.ErrorMessage + " ";
        }
    }
    <h1>An error occurred. @errors. Please try again!</h1>
}

<div class="modal fade pwRecoveryModal" id="pwRecoveryModal" tabindex="-1" role="dialog" aria-labelledby="pwRecoveryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <div class="modal-title w-100">
                    <h5 id="pwRecoveryModalLabel">Reset password</h5>
                </div>

                @await Html.PartialAsync("_ExternalAuthentication.Errors")

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                @if (!Model.DisablePasswordChanging)
                {
                    <form asp-route="PasswordRecoveryConfirm" asp-route-token="@Context.Request.Query["token"]" asp-route-email="@Context.Request.Query["email"]" method="post">
                        <div asp-validation-summary="ModelOnly" class="message-error"></div>
                        <div class="fieldset">
                            <div class="form-fields">
                                <div class="text">
                                    Please enter your email address and we'll send instructions on how to reset your password.
                                </div>

                                <div class="form-group">
                                    @*<label asp-for="NewPassword" asp-postfix=":"></label>*@
                                    <input asp-for="NewPassword" class="form-control" placeholder="New password" />
                                    @*<nop-required />*@
                                    <span asp-validation-for="NewPassword"></span>
                                </div>
                                <div class="form-group">
                                    @*<label asp-for="ConfirmNewPassword" asp-postfix=":"></label>*@
                                    <input asp-for="ConfirmNewPassword" class="form-control" placeholder="Confirm new password" />
                                    @*<nop-required />*@
                                    <span asp-validation-for="ConfirmNewPassword"></span>
                                </div>
                            </div>
                        </div>
                        <div class="buttons">
                            <input type="submit" name="set-password" class="btn btn-action new-password-button" value="Submit" />
                        </div>
                    </form>
                }
            </div>

            <div class="modal-footer">
                <div class="new-wrapper register-block">
                    <div class="text">
                        <a href="@loginUrl" class="btn-text">Back to Sign in</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>