// Blog Post
header.blogDetail {
    .page-title {
        margin-top: 40px;
        text-align: center;

        .tags {
            font-weight: 600;
            opacity: 0.75;
            font-size: 22px;

            a {
                color: $white;
                transition: color 0.15s;

                &:hover {
                    text-decoration: none;
                    opacity: 1;
                    transition: color 0.15s;
                }
            }
        }

        .title {
            display: table-cell;
            vertical-align: middle;
            width: 100vw;
            font-weight: 700;
            font-size: 70px;
            line-height: 70px;
            text-align: center;
            padding: 30px 0;
        }

        .date {
            opacity: 0.5;
            font-size: 22px;
        }
    }
}

.blogpost-page {
    position: relative;
    background-color: $white;

    .blogPostContainer {
        margin-bottom: 60px;
        padding-top: 40px;

        .blogPostBody {
            /*padding-right: 80px;*/

            .blogImg {
                width: 100%;
                margin-bottom: 60px;
            }

            .photoCredits {
                font-size: 10px;
                color: $grey9;
                float: right;
                margin-top: -57px;
            }

            .socialShareContainer {
                position: relative;
                float: left;

                &.affix {
                    position: fixed;
                    top: 25px;
                }

                a {
                    color: $grey16;
                    display: block;
                    padding: 0 30px 0 0;
                    font-size: 32px;
                    transition: color 0.15s;

                    &:hover {
                        color: $black;
                        transition: color 0.15s;
                    }
                }
            }

            .post-body {
                padding-left: 90px;

                p {
                    margin-bottom: 30px;
                }

                blockquote {
                    font-size: 24px;
                    font-weight: 600;
                    color: $buyer;
                }
            }
        }

        .blogPostSidebar {
            h4 {
                font-size: 28px;
                text-align: center;
                margin-bottom: 20px;
            }

            .otherArticleCard {
                .articleContainer {
                    text-align: center;
                    margin-bottom: 40px;
                    border-radius: 6px 6px 5px 5px;
                    padding-bottom: 10px;

                    &.seller {
                        background-color: $seller;
                    }

                    &.buyer {
                        background-color: $buyer;
                    }

                    img {
                        border-radius: 5px 5px 0 0;
                        margin-bottom: 10px;
                        width: 100%;
                    }

                    h5 {
                        font-size: 20px;
                        font-weight: 200;
                        color: $white;
                        padding: 25px 50px 20px 50px;
                        margin: 0px;
                        line-height: 30px;
                    }

                    .category {
                        color: $white;
                        font-size: 20px;
                        font-weight: 600;
                        opacity: 0.5;
                        margin-bottom: 30px;
                    }
                }
            }
        }

        .advertisement {
            border-top: 2px solid $grey5;
            padding: 40px;
            margin-top: 40px;
            position: relative;

            &.affix {
                position: fixed;
                top: -42px;
            }

            .label {
                position: absolute;
                left: 0px;
                right: 0px;
                top: 70px;
                text-align: center;
                font-size: 14px;
                color: $grey9;
            }

            .bannerContainer {
                padding: 60px 40px;
                background-color: $grey3;
            }
        }
    }

    .newsContainer {
        margin-top: 0px;
        padding: 80px 0;
        background-color: #000;

        .container {
            margin-bottom: 0px;
            margin-top: 0px;

            .newsCard {
                p {
                    font-size: 32px;
                }

                .category {
                    bottom: 40px;
                    font-size: 24px;
                }
            }
        }
    }
}


// Extra extra large devices (large desktops, 1200px and up)
@media (min-width: 1660px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {
}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
    .blogPostContainer {
        .blogPostBody {
            padding-right: 0px;
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
}

// Extra small devices (portrait phones, less than 576px)
@media (min-width: 576px) {
}
