// Header Premium vendor
.vendorPremium header {
    color: $grey33;
    background: none;

    .logoContainer {
        a {
            padding: 20px 30px;
            display: inline-block;
            position: absolute;
            top: 20px;
            left: 20px;
            z-index: 1;
            background: linear-gradient(230deg, #a24bcf, #4b79cf, #4bc5cf);
            background-size: 300% 300%;
            -webkit-animation: MoveBG 60s ease infinite;
            -moz-animation: MoveBG 60s ease infinite;
            -o-animation: MoveBG 60s ease infinite;
            animation: MoveBG 60s ease infinite;

            .logo {
                margin-top: 0px;
                width: 213px;
                height: 57px;
            }
        }
    }

    nav {
        padding-bottom: 35px;

        a.menuLink {
            color: $grey33;
        }

        .btn {
            color: $grey33;
            background-color: rgba(255, 255, 255, 0.1);

            &:hover {
                background-color: rgba(17, 17, 17, 0.1);
            }
        }
    }

    .payoffContainer {
        background-image: url('/Themes/Sinswap/Content/images/vendorBackground.jpg'); // move to html
        background-repeat: no-repeat;
        background-position: bottom center;
        background-color: $grey6;
        background-size: cover;
        height: 310px;
    }
}



// Extra large devices (large desktops, 1350px and up)
@media (max-width: 1350px) {
    .vendorPremium header {
        nav.service .btn {
            margin-bottom: 14px;
            font-size: 12px;
            margin-left: 0px;
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {
}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
    .vendorPremium header {
        .logoContainer {
            a {
                padding: 15px 20px;
                top: 70px;

                .logo {
                    width: 106.5px;
                    height: 28.5px;
                }
            }
        }

        nav.main {
            justify-content: start;

            a.menuLink {
                font-size: 14px;
            }
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
    .vendorPremium header {
        height: auto;
        min-height: 400px;

        .payoffContainer {
            display: block;
            height: 210px;
        }

        .row {
            nav.service {
                padding-top: 5px;

                .btn {
                    margin: 0px;
                }
            }
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
    .vendorPremium header {
        .row {
            nav.main {
                padding-top: 50px;
                padding-bottom: 60px;
                justify-content: center;

                a.menuLink {
                    margin: 0 5px;
                }
            }

            .logoContainer {
                a {
                    top: 95px;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }

            .payoffContainer {
                height: 310px;
            }
        }
    }
}

// Extra small devices (portrait phones, less than 576px)
@media (min-width: 576px) {
}
