// Header Premium vendor
.vendorPremium header {
    color: $grey33;
    background: none;

    .logoContainer {
        a {
            display: block;
            position: relative;
            margin-top: 15px;
            margin-bottom: 15px;
            width: 216px;
            z-index: 1;
            background: linear-gradient(230deg, #a24bcf, #4b79cf, #4bc5cf);
            background-size: 300% 300%;
            -webkit-animation: MoveBG 60s ease infinite;
            -moz-animation: MoveBG 60s ease infinite;
            -o-animation: MoveBG 60s ease infinite;
            animation: MoveBG 60s ease infinite;

            .logo {
                margin-top: 0px;
                margin-bottom: 0px;
                width: 216px;
                height: 75px;
            }
        }
    }

    nav {
        a.menuLink {
            color: $grey33;
        }

        .btn {
            padding: 0.375rem 0.25rem;
            color: $grey33;
            background-color: rgba(255, 255, 255, 0.1);

            &:hover {
                background-color: rgba(17, 17, 17, 0.1);
            }
        }

        &.service .icon {
            background-color: rgba(255, 255, 255, 0);

            &:hover {
                background-color: rgba(255, 255, 255, 0);
                color: $black;
                transition: color 0.15s;
            }
        }
    }

    .payoffContainer {
        background-repeat: no-repeat;
        background-position: bottom center;
        background-color: $grey6;
        background-size: cover;
        height: 550px;
    }
}



// Extra large devices (large desktops, 1350px and up)
@media (max-width: 1350px) {
    .vendorPremium header {
        nav.service .btn {
            font-size: 12px;
            margin-left: 0px;
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {
}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
    .vendorPremium header {
        nav.main {
            justify-content: start;

            a.menuLink {
                font-size: 14px;
            }
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
    .vendorPremium header {
        height: auto;
        min-height: 400px;

        .payoffContainer {
            display: block;
            height: 210px;
        }

        .row {
            nav.service {
                padding-top: 5px;

                .btn {
                    margin: 0px;
                }
            }
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
    .vendorPremium header {
        .row {
            nav.main {
                padding-top: 50px;
                padding-bottom: 60px;
                justify-content: center;

                a.menuLink {
                    margin: 0 5px;
                }
            }

            .logoContainer {
                a {
                    top: 95px;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }

            .payoffContainer {
                height: 310px;
            }
        }
    }
}

// Extra small devices (portrait phones, less than 576px)
@media (min-width: 576px) {
}
