// Header
header {
    position: relative;
    color: $white;
    min-height: 440px;
    height: 440px;
    background: linear-gradient(230deg, #a24bcf, #4b79cf, #4bc5cf);
    background-size: 300% 300%;
    -webkit-animation: MoveBG 60s ease infinite;
    -moz-animation: MoveBG 60s ease infinite;
    -o-animation: MoveBG 60s ease infinite;
    animation: MoveBG 60s ease infinite;
    transition: height 0.25s ease-out;

    &.narrow {
        min-height: 0px;
        height: auto;
    }

    .floatingObj1 {
        position: absolute;
        top: 8%;
        right: 20%;

        img {
            width: 200px;
            transform: rotate(15deg);
        }
    }

    .floatingObj2 {
        position: absolute;
        top: 20%;
        left: 10%;

        img {
            width: 200px;
            transform: rotate(-10deg);
        }
    }

    h1 {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    .logo {
        margin-top: 15px;
        height: 75px;
        margin-bottom: 15px;
    }

    .payoffContainer {
        .payoff {
            display: table-cell;
            vertical-align: middle;
            width: 100vw;
            font-weight: 700;
            font-size: 70px;
            line-height: 70px;
            text-align: center;
            height: 200px;
        }

        p {
            opacity: 0.5;
            font-size: 22px;
            text-align: center;
            padding: 0px;
            margin: -50px 0 0 0;
        }
    }

    &.blogDetail {
        min-height: 500px;
        height: 500px;
    }
}

.searchModal {
    display: none;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;

    &:before {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.9); 
    }

    .searchContainer {
        text-align: center;
        margin-top: 20%;

        .searchTitle {
            font-size: 52px;
            color: $white;
        }

        #searchForm {
            width: 700px;
            margin: 0px auto;
            position: relative;

            input {
                margin-top: 10px;
                font-size: 18px;
                padding: 15px 20px;
                -webkit-box-shadow: 1px 5px 15px -3px rgba(0,0,0,0.5);
                box-shadow: 1px 5px 15px -3px rgba(0,0,0,0.5);
            }

            .searchSubmit {
                font-size: 30px;
                width: 62px;
                height: 62px;
                display: block;
                text-align: center;
                line-height: 62px;
                position: absolute;
                top: 0px;
                right: 0px;
                color: $black;
                background-color: transparent;
                border: 0 none;
                cursor: pointer;
                outline: none;
                opacity: .5;
                transition: opacity .15s;

                &:hover {
                    opacity: 1;
                    transition: opacity .15s;
                }
            }

            a {
                position: absolute;
                display: block;
                right: 20px;
                bottom: -30px;
                color: $white;
                opacity: 0.75;

                &:hover {
                    text-decoration: none;
                    opacity: 1;
                    transition: opacity .15s;
                }
            }
        }
    }
}

.searchActive {
    .searchModal {
        display: block;
    }
}

nav {
    align-items: center;
    justify-content: center;

    &.main,
    &.vendorMenu {
        display: flex;
        justify-content: center;
    }

    &.service {
        margin-right: 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .cartFoldout {
            position: fixed;
            width: 100%;
            background-color: $grey2;
            padding-bottom: 30px;
            top: 0px;
            left: 0px;
            z-index: 1;
            color: $black;

            .serviceMenu {
                nav.service .icon {
                    color: $black;
                }
            }

            .cartHeader {
                font-size: 28px;
                font-weight: 500;
                text-align: center;
                padding: 0px 20px 20px 20px;
                border-bottom: 2px solid $grey5;
            }

            .items {
                color: $black;
                padding-top: 10px;

                .item {
                    padding-top: 20px;
                    margin-top: 20px;
                    border-top: 2px solid $grey3;
                    width: 50%;
                    float: left;

                    &.first {
                        border-top: none;
                        margin-top: 0px;
                    }

                    .picture {
                        float: left;
                        margin-right: 20px;
                    }

                    .product {
                        padding: 3px;

                        a {
                            font-size: 18px;
                            font-weight: 500;
                            color: $black;
                        }

                        .name {
                            .seller {
                                font-size: 12px;

                                a {
                                    font-size: 12px;
                                    font-weight: 700;
                                }
                            }
                        }

                        .price {
                            font-weight: 500;
                            font-size: 14px;
                            float: right;
                        }
                    }

                    &.even {
                        padding-right: 50px;
                    }

                    &.odd {
                        padding-left: 50px;
                    }
                }
            }

            .totals {
                clear: both;
                padding-top: 20px;
                text-align: right;
            }

            .buttons {
                padding-top: 20px;

                .close-button {
                    float: left;
                    margin: 0px;
                }

                .checkout-button {
                    float: right;
                    margin: 0px;
                }

                .cart-button {
                    float: right;
                    margin: 0px;
                }
            }

            &.active {
                display: block;
            }
        }
    }

    a.menuLink {
        margin: 0px 7px;
        font-size: 16px;
        font-weight: 400;
        color: $white;
        opacity: 0.8;
        transition: opacity 0.15s;

        &:hover {
            opacity: 1;
            text-decoration: none;
            transition: opacity 0.15s;
        }
    }

    &.main .btn,
    &.service .btn,
    &.vendorMenu .btn {
        margin-top: -4px;
        background-color: rgba(255, 255, 255, 0.1);
        border: none;
        float: right;
        margin-left: 10px;
        font-size: 14px;
        transition: background-color 0.15s;

        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
            transition: background-color 0.15s;
        }
    }

    &.service .icon {
        color: $white;
        background-color: rgba(255, 255, 255, 0);
        font-size: 22px;
        padding-top: 0px;
        padding-bottom: 0px;
        position: relative;
        opacity: 0.8;
        transition: opacity 0.15s;

        &:hover {
            background-color: rgba(255, 255, 255, 0);
            opacity: 1;
            transition: opacity 0.15s;
        }

        .badge {
            position: absolute;
            top: -5px;
            right: 0px;
            font-size: 10px;
            font-weight: 100;
            padding: 4px 5px;
            background-color: $sales;
        }
    }

    .btn:focus,
    .btn.focus {
        box-shadow: none;
    }

    .cartFoldout {
        display: none;
        position: absolute;
    }
}



// Extra Extra large devices (large desktops, 1660px and down)
@media (max-width: 1660px) {
    header {
        nav {
            &.service {
                .btn {
                    font-size: 12px;

                    &.icon {
                        padding-top: 6px;
                    }
                }
            }
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {
}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
    header {
        .searchContainer {
            .searchTitle {
                font-size: 42px;
            }
        }

        nav a.menuLink {
            margin: 0 5px;
            font-size: 14px;
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
    header {
        height: 250px;
        min-height: 250px;

        .row {
            .logoContainer {
                .logo {
                    height: 60px;
                }
            }

            nav {
                padding-top: 15px;
                margin-right: 0px;

                a.menuLink {
                    font-size: 18px;
                    margin: 0px 10px;
                }

                .btn {
                    margin: 0px 5px;
                }

                &.service {
                    padding-top: 0px;

                    .cartFoldout {
                        .items {
                            .item {
                                .product {
                                    a {
                                        font-size: 14px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .serviceMenu {
                position: absolute;
                height: 90px;
            }
        }

        .payoffContainer {
            display: none;
        }

        .searchContainer {
            padding-top: 60px;

            .searchTitle {
                font-size: 32px;
            }

            #searchForm {
                width: 500px;

                input {
                    font-size: 14px;
                    padding: 25px 15px;
                }

                .searchSubmit {
                    font-size: 20px;
                    width: 52px;
                    height: 52px;
                    line-height: 52px;
                }
            }
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
    header {
        .row {
            nav {
                a.menuLink {
                    font-size: 14px;
                    margin: 0 5px;
                }
            }
        }

        .searchContainer {
            #searchForm {
                width: 400px;
            }
        }
    }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 576px) {
    header {

    }
}