// Popular categories
.popularCategoriesContainer {
    padding: 35px 25px 0px 25px;

    h2 {
        font-size: 28px;
        padding: 20px 0 15px 5px;
        margin: 0px;
    }
    
    // .categoryCard is in _global.scss

    a.more {
        margin-left: 5px;
    }
}

.category-page {
    .popularCategoriesContainer {
        position: relative;
        background-color: $white;
        border-radius: 5px;
        padding-top: 0px;
    }

    .topSellersContainer {
        margin-bottom: 60px;
        padding: 45px 250px 0 250px;

        .no-data {
            text-align: center;
            padding: 100px 0 345px 0;
            font-size: 22px;
            color: $grey9;

            .fa-sad-tear {
                font-size: 60px;
                margin-bottom: 20px;
            }
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {
}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
    .popularCategoriesContainer {
        h2 {
            font-size: 18px;
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
}

// Extra small devices (portrait phones, less than 576px)
@media (min-width: 576px) {
}
