// Popular categories
.popularCategoriesContainer {
    padding: 35px 25px 0px 25px;

    h2 {
        font-size: 28px;
        padding: 20px 0 15px 5px;
        margin: 0px;
    }
    
    // .categoryCard is in _global.scss

    a.more {
        margin-left: 5px;
    }
}

.category-page {
    .popularCategoriesContainer {
        position: relative;
        background-color: $white;
        border-radius: 5px;
        padding-top: 0px;
    }

    .topSellersContainer {
        margin-bottom: 60px;
        padding: 45px 250px 0 250px;
    }

    &.empty {
        .topSellersContainer {
            padding: 45px 30px 0 30px;

            .no-data {
                text-align: center;
                padding: 45px 30px;
                font-size: 56px;
                font-weight: 500;
                line-height: 62px;

                span {
                    font-size: 32px;
                    line-height: 34px;
                }
            }
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {
}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
    .popularCategoriesContainer {
        h2 {
            font-size: 18px;
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
    .category-page {
        &.empty {
            .topSellersContainer {
                .no-data {
                    padding: 45px;
                    font-size: 48px;
                    line-height: 50px;

                    span {
                        font-size: 28px;
                        line-height: 30px;
                    }
                }
            }
        }
    }
}

// Extra small devices (portrait phones, less than 576px)
@media (min-width: 576px) {
}
