// Product modal
.productModal {
    .modal-content {
        border-radius: 5px;

        .modal-body {
            padding: 0px;
        }

        .imgColumn {
            border-radius: 5px 0 0 5px;
            min-height: 500px;
            background-size: cover;
            background-position: center center;
        }

        .descColumn {
            padding: 45px;

            .closeBtn {
                position: absolute;
                right: 15px;
                top: 10px;
                color: $grey15;
                cursor: pointer;

                &:hover {
                    color: $black;
                }
            }

            .description {
                font-size: 14px;
            }

            .variations {
                select {
                    font-size: 14px;
                    margin-bottom: 5px;
                }
            }

            .orderContainer {
                position: absolute;
                bottom: 45px;
                width: 310px;

                .prodRow {
                    font-size: 20px;
                    font-weight: 600;
                    margin-left: 0px;
                    margin-right: 0px;
                }

                .shippingRow {
                    font-size: 14px;
                    font-weight: 600;
                    color: $grey15;
                    border-bottom: 2px solid $black;
                    margin-left: 0px;
                    margin-right: 0px;
                    padding-bottom: 7px;
                }

                .price {
                    text-align: right;

                    sup {
                        top: -.25em
                    }
                }

                .btn-order {
                    margin-top: 10px;
                    color: $white;
                    background-color: #00E39A;
                    width: auto;
                    float: right;
                }
            }
        }
    }
}


// Extra Super large devices (large desktops, 1660px and up)
@media (max-width: 1660px) {
    .productModal {
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {
}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
    .productModal {
    }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
    .productModal {
    }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
    .productModal {
    }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 576px) {
}
